@import 'index1.scss';//引入scss文件
$color: #111111;
/*混合宏*/
@mixin size($w:200px,$h:40px){//设置默认值
	width:$w;
	height: $h;
}
#contain{/*注释也会*/
	background-color: $color;
	margin: 20px;
	.box{//嵌套
		background-color: wheat;
		a{
			padding:{//属性也能嵌套（注意冒号）
				top:20px;
				bottom: 20px;
			};
			&:hover{/*&是引用父选择器*/
				background-color: hotpink;
			}
		}
	 .box1{
		 @include size(200px,30px);
	 }
	 .box2{
		 @include  size($w:40px);//$h用默认值
	 }
	 .box3{
		 background-color: red;
	 }
	 .box4{
		 @extend .box3;//继承.box3
		 border: 1px;
	 }
	 }
 }